name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  byte-compile:
    name: Byte Compile (Emacs ${{ matrix.emacs_version }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - "30.1"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - name: Install dependencies
        run: |
          emacs -Q --batch \
            --eval "(require 'package)" \
            --eval "(add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\"))" \
            --eval "(package-initialize)" \
            --eval "(package-refresh-contents)" \
            --eval "(unless (package-installed-p 'lsp-mode) (package-install 'lsp-mode))"

      - name: Generate autoloads
        run: |
          emacs -Q --batch -L . \
            --eval "(require 'package)" \
            --eval "(require 'autoload)" \
            --eval "(setq generated-autoload-file \"autoloads.el\")" \
            -f batch-update-autoloads .

      - name: Byte compile package
        run: |
          emacs -Q --batch \
            --eval "(require 'package)" \
            --eval "(add-to-list 'package-archives '(\"melpa\" . \"https://melpa.org/packages/\"))" \
            --eval "(package-initialize)" \
            --eval "(unless (package-installed-p 'lsp-mode) (package-refresh-contents) (package-install 'lsp-mode))" \
            -L . \
            -l lsp-glint.el \
            -l glint-ts-mode.el \
            -f batch-byte-compile *.el

      - name: Check autoloads
        run: |
          emacs -Q --batch -L . \
            --eval "(require 'autoload)" \
            --eval "(setq generated-autoload-file \"autoloads.el\")" \
            -f batch-update-autoloads .
